/*Media Queries*/
/* On screens that are 1024px or more*/

@media only screen and (min-width: 1024px) {
  /*TOP MENU*/

  header,
  .header-content {
    height: 5rem;

    .header-content {
      align-items: center;
    }
  }

  .mobile-navigation {
    display: none;
  }

  .desktop-registration {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .white-btn {
      margin-right: 0.5rem;
    }

    .black-btn {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .desktop-menu {
    display: flex;
  }

  .top-dropdown {
    position: absolute;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0 0.5rem 1rem,
      rgba(0, 0, 0, 0.08) 0 0.2rem 0.5rem;
    padding: 1rem;
    margin-top: 5rem;
    width: 50vw;
    height: 100vh;
    top: 0;
    display: none;

    .dropdown-title a {
      font-size: 1rem;
      font-weight: 600;
      line-height: 2rem;
      text-decoration: none;
      align-items: center;
      -moz-column-gap: 0.5rem;
      column-gap: 0.5rem;
      display: grid;
      grid-auto-flow: column;
      padding: 0.5rem 0;
      grid-template-columns: auto 1fr;
      position: relative;
      color: rgb(25, 28, 31);
    }

    /* Links inside the top dropdown menu */
    a {
      display: flex;
      color: rgb(25, 28, 31);
      text-align: left;
      text-decoration: none;
      margin-left: 1.25rem;
      font-size: 0.75rem;
      padding: 0.5rem 0;
    }

    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }

    /* Dropdown button */
    .dropbtn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100vw;
      justify-items: flex-start;
      align-content: center;
    }

    .dropdown .dropbtn {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1rem;
      border: none;
      outline: none;
      color: rgb(25, 28, 31);
      padding: 0.5rem 0;
      background-color: inherit;
      transition: all 0.15s ease 0s;
      margin-left: 1.25rem;
    }

    .dropdown .arrow-down {
      margin-left: 6rem;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      overflow: auto;
      left: 0;
      z-index: 1;
      color: black;
      background-color: rgb(247, 247, 247);
      padding-left: 1.5rem;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }

  .menu-btn:focus + .top-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
  }

  /*MAIN PAGE*/
  .hero-image {
    display: none;
  }

  .hero-image-desktop {
    display: initial;
  }

  .intro {
    position: relative;
    top: 0;
  }

  .intro-content {
    position: absolute;
    top: 12.5rem;
    right: 0;
    height: 10rem;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    color: transparent;
  }

  h1 {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .intro-content p,
  .section-intro p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .main-btn {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .section-intro h2 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }

  .everyday-essentials {
    padding-top: 7.5rem;
  }

  .background-image {
    height: 32.75rem;
  }

  .grid-container {
    grid-auto-rows: 32.75rem;
    margin-left: 0.5rem;
  }

  /*box-content*/
  .box-content h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }

  .box-content p,
  .box-content span {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  /* big box-content */

  //   .payments > .box-content > .call-to-action {
  //     margin-top: 9rem;
  //   }

  //   .cards > .box-content > .call-to-action {
  //     margin-top: 5rem;
  //   }

  //   .travel > .grid-container > .big-box > .box-content > .call-to-action {
  //     margin-top: 10rem;
  //   }

  //   .security > .grid-container > .big-box > .box-content > .call-to-action {
  //     margin-top: 7rem;
  //   }

  // //   /* small box-content */
  //   .small-box > .box-content > .call-to-action {
  //     margin-top: 18rem;
  //   }

  //   .rewards > .box-content > .call-to-action,
  //   .open-banking > .box-content > .call-to-action {
  //     margin-top: 20rem;
  //   }

  //   .no-subscriptions > .box-content > .call-to-action {
  //     margin-top: 19.5rem;
  //   }

  //   .stocks > .box-content > .call-to-action {
  //     margin-top: 13rem;
  //   }

  //   .commodities > .box-content > .call-to-action {
  //     margin-top: 17rem;
  //   }

  //   .lounge > .box-content > .call-to-action {
  //     margin-top: 20rem;
  //   }

  //   .gifting > .box-content > .call-to-action,
  //   .donations > .box-content > .call-to-action,
  //   .updates > .box-content > .call-to-action,
  //   .updates2 > .box-content > .call-to-action {
  //     margin-top: 21rem;
  //   }

  //   .plan-content p {
  //     height: 6rem;
  //   }
}
