/*Media Queries*/
/* On screens that are 1024px or more*/

@media only screen and (min-width: 1024px) {
  /*TOP MENU*/

  header,
  .header-content {
    height: 5rem;

    .header-content {
      align-items: center;
    }
  }

  .mobile-navigation {
    display: none;
  }

  .desktop-registration {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .white-btn {
      margin-right: 0.5rem;
    }

    .black-btn {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .desktop-menu {
    display: flex;
  }

  .menu-btn:focus + .top-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
  }

  .top-dropdown {
    position: absolute;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0 0.5rem 1rem,
      rgba(0, 0, 0, 0.08) 0 0.2rem 0.5rem;
    background-color: rgb(243, 244, 245);
    padding: 1rem;
    margin-top: 5rem;
    top: 1rem;
    display: none;

    .top-dropdown-title {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      h2 {
        font-weight: 600;
        line-height: 2rem;
        padding-right: 0.5rem;
      }

      svg {
        align-self: baseline;
        height: 1.25rem;
        width: 1.25rem;
      }
    }

    /* The dropdown container */
    .dropdown-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .box1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
      }

      .dropdown-menu {
        display: flex;
        flex-direction: column;
      }

      h3 {
        font-size: 0.75rem;
        font-weight: 600;
        text-decoration: none;
      }
      a {
        color: rgb(80, 90, 99);
        text-align: left;
        text-decoration: none;
        font-size: 0.75rem;
        padding: 0.5rem 0;
      }

      .box2 {
        background-color: rgba(240, 242, 244, 255);
        height: 100vh;
        border-radius: 0.5rem;

        .dropdown-menu {
          display: flex;
          flex-direction: column;
        }

        a {
          color: rgb(80, 90, 99);
          text-align: left;
          text-decoration: none;
          font-size: 0.75rem;
          padding: 0.5rem;
        }
      }
    }
  }

  .top-dropdown1,
  .top-dropdown2 {
    right: 1rem;
    left: 1rem;
  }

  .top-dropdown3,
  .top-dropdown4 {
    height: fit-content;
    margin-right: 2rem;

    .dropdown-menu {
      display: flex;
      flex-direction: column;
    }
    a {
      color: rgb(80, 90, 99);
      text-align: left;
      text-decoration: none;
      font-size: 0.75rem;
      padding: 0.5rem 0;
    }
  }

  /*MAIN PAGE*/
  .hero-image {
    display: none;
  }

  .hero-image-desktop {
    display: initial;
  }

  .intro {
    position: relative;
    top: 0;
  }

  .intro-content {
    position: absolute;
    top: 12.5rem;
    right: 0;
    height: 10rem;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    color: transparent;
  }

  h1 {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .intro-content p,
  .section-intro p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .main-btn {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .section-intro h2 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }

  .everyday-essentials {
    padding-top: 7.5rem;
  }

  .grid-container {
    max-width: 59rem;
    grid-auto-rows: 32rem;
  }

  box-content {
    max-width: 33%;
  }

  /*box-content*/
  .box-content h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }

  .box-content p,
  .box-content span {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
